@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .typeheading {
    @apply font-semibold flex justify-start w-[100%] sm:font-bold  text-4xl sm:text-5xl lg:text-6xl;
  }
  .notActive {
    @apply hover:text-blue-500 font-sf text-[17px] text-[#1D1D1F] font-medium;
  }
  .activeText {
    @apply font-sf text-[17px] text-[#86868B] font-medium;
  }
  .featureButtons {
    @apply font-sf text-[17px] p-[12px] lg:p-[18px] bg-[#E8E8ED] text-[#1D1D1F] rounded-full;
  }
}
